---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About me';

const identity = {
  name: 'Tom',
  role: 'frontend developer',
  country: 'United Kingdom',
  hobbies: ['coding', 'gaming', 'eating'],
};

const skills = ['HTML', 'CSS', 'TypeScript', 'JavaScript', 'React', 'Angular'];
---

<BaseLayout pageTitle={pageTitle}>
  <p>I'm a frontend developer, and I'm currently looking for work <bold>HIRE ME!</bold></p>
  <p>Here are some of my skills:</p>
  <ul>
    {skills.map(skill => (<li class="skill">{skill}</li>))}
  </ul>
  <p>I live in {identity.country} and work as a {identity.role}</p>
</BaseLayout>
